@CHARSET "ISO-8859-1";

@font-face {
    font-family: FontAwesome;
    src: url('../fonts/FontAwesome.otf');
}

table.form-table td.filter-option label {
    height: 53px;
    line-height: 25px;
    padding: 0 5px 5px;
    width: 64px;
}

table.form-table tbody tr td table caption.filter-description {
    margin: 1% 0;
    text-align: left;
    width: 100% !important;
}

table.form-table td.filter-option {
    padding: 0 !important;
}
.form-table table.filter-table {
    width: 100% !important;
}
.bpaf-extra-actions {
	float: right;
}
#bpaf_setting_error_settings_updated {
    display: none;
}

.bpaf-setting-page .spinner {
    float: none;
}
.bpaf-group-list {
    margin-left: 30px;
}